li{
  display: inline;
}
.welcome-banner-container{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.welcome-banner{
  min-width: 100%;
}

.welcome-text-container{
  position: absolute;
  width: 100%;
  height: auto;
  top: 10%;
}

.welcome-text-title{
  font-size: 300px;
  font-weight: bold;
  text-shadow:
    -5px -5px 0 #000,
    5px -5px 0 #000,
    -5px 5px 0 #000,
    5px 5px 0 #000; 
  margin: 0 auto;
  text-align: center;
}

.welcome-text-subtitle{
  position: absolute;
  font-size: 10em;
  font-weight: bold;
  text-shadow:
    -5px -5px 0 #000,
    5px -5px 0 #000,
    -5px 5px 0 #000,
    5px 5px 0 #000;
  margin: 0 auto;
  text-align: center;
}

.container-2{
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(-90deg, rgb(53,53,53), rgb(69,69,69));
}

.drop-down-button{
  position: absolute; 
  bottom: 0; 
  margin: 0 auto; 
  font-size: 15em;
  text-align: center;
}

.drop-down-text{
  text-align: center;
  font-size: 8em;
}

.drop-down-container{
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 10%;
}

.drop-down-container.two{
  bottom: 0;
}

.stroke{
  text-shadow:
    -5px -5px 0 #000,
    5px -5px 0 #000,
    -5px 5px 0 #000,
    5px 5px 0 #000; 
}

.primary-color{
  color: #03A89E;
}

.gray-background{
  background-color: #212121;
}

.resume-btn{
  font-size: 10em !important;
  background-color: #03A89E !important;
  border-radius: 15% !important;
}

.resume-btn-container{
  position: absolute;
  top: 60%;
  left: 0;
  height: auto;
  width: 100%;
}

.resume-btn:hover{
  opacity: .7;
}

.contact-container{
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  padding: 5em 0 5em 0;
}

.contact-bar{
  position: absolute;
  width: 100%;
  height: auto;
  top: 40%;
  left: 0;
}